artifact-element {
  display: block;
  position: relative;
  min-height: 36px; /* reserve space for the action buttons */
}

artifact-source {
  display: block;
  position: relative;

  .artifact-source-toggle {
    position: absolute;
    inset: 0 auto 0 0;
    z-index: 1;
    width: 8px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;

    &:hover,
    &:focus-visible {
      background: var(--button-background-hover-color);
    }
  }

  &[data-state="collapsed"] .shiki {
    max-height: 124px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  [data-streaming] &[data-state="collapsed"] .shiki {
    justify-content: flex-end;
  }
}

artifact-action {
  position: absolute;
  top: 6px;
  right: 6px;

  artifact-source[data-state="collapsed"] + & {
    right: 16px;
  }

  button {
    font-size: 12px;
    padding: 0 4px;

    opacity: 0.725;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  [data-action="copy"] {
    &:not(.copied) {
      .success {
        display: none;
      }
    }
    &.copied {
      opacity: 1;
      .ready {
        display: none;
      }
    }
  }
}
