artifact-element {
  display: block;
  position: relative;
  min-height: 36px; /* reserve space for the action buttons */
}

artifact-action {
  position: absolute;
  top: 6px;
  right: 6px;

  button {
    font-size: 12px;
    padding: 0 4px;

    opacity: 0.725;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  [data-action="copy"] {
    &:not(.copied) {
      .success {
        display: none;
      }
    }
    &.copied {
      opacity: 1;
      .ready {
        display: none;
      }
    }
  }
}
