artifact-editor-element {
  display: grid;
  height: 100%;
  grid-template:
    "menu menu menu" auto
    "code divider preview" 1fr / minmax(0, var(--artifact-code-width, 1fr)) 0 minmax(0, 1fr);

  .artifact-menu {
    grid-area: menu;
    background-color: var(--body-background);
    padding: 4px;

    button {
      font-size: 14px;
      padding: 0 4px;

      opacity: 0.725;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        opacity: 1;
      }
    }

    [data-action="copy"] {
      &:not(.copied) {
        .success {
          display: none;
        }
      }
      &.copied {
        opacity: 1;
        .ready {
          display: none;
        }
      }
    }
  }

  .artifact-code {
    grid-area: code;
    min-height: 0;
  }

  artifact-preview {
    grid-area: preview;

    border: none;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;

    &:empty {
      display: none;
    }

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .cm-editor {
    padding: 0;
    border: none;

    /* prevent nested edit */
    [data-action="edit"] {
      display: none;
    }
  }
}
