artifact-element {
  display: grid;
  position: relative;
  min-height: 36px; /* reserve space for the action buttons */

  > artifact-source,
  > artifact-action {
    grid-area: 1 / 1;
  }
}

artifact-source {
  display: block;
  position: relative;
  min-width: 0;

  .artifact-source-toggle {
    position: absolute;
    inset: 0 auto 0 0;
    width: 8px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;

    &:hover,
    &:focus-visible {
      background: var(--button-background-hover-color);
    }
  }

  &[data-state="collapsed"] .shiki {
    max-height: var(--code-block-collapsed-height);
    overflow-y: scroll;
  }
}

artifact-action {
  position: sticky;
  top: calc(var(--app-header-height, 0px) + var(--message-action-bar-height) + var(--code-block-padding));
  z-index: var(--action-bar-z-index);
  align-self: start;
  justify-self: end;
  display: flex;
  min-height: 20px;
  gap: 4px;
  margin: var(--code-block-padding);

  artifact-source[data-state="collapsed"] + & {
    margin-right: 16px;
  }

  button {
    font-size: 12px;
    padding: 0 4px;

    opacity: 0.725;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  [data-action="copy"] {
    &:not(.copied) {
      .success {
        display: none;
      }
    }
    &.copied {
      opacity: 1;
      .ready {
        display: none;
      }
    }
  }
}
