.cm-chat-panel {
  display: grid;

  #chat-textarea {
    border: none;
    width: 100%;
    padding: 4px 6px;
    field-sizing: content;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    max-height: min(calc(100vh - 40px), 400px);

    &:focus {
      color: white;
      background-color: black;
    }

    &[data-speaking] {
      color: GrayText;
    }
  }
}
