code-editor-element {
  display: grid;
  flex-grow: 1;

  &:focus .cm-editor {
    outline: 2px solid currentColor;
    outline-offset: -2px;
  }
}

.cm-editor {
  height: 100%;
  min-height: 32px;
  max-height: var(--max-height);
  overflow: auto;

  padding: 3px 2px; /* cm line comes with padding */
  border: 1px solid currentColor;
  border-radius: 2px;

  &.cm-focused {
    outline: none;
  }

  .cm-line {
    line-height: 18px;
  }
}
