settings-element {
  display: grid;
  gap: 8px;

  .action-row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: start;
  }

  form {
    display: grid;
    gap: 8px;
  }

  .form-scroll {
    max-height: min(calc(100vh - 120px), 600px);
    overflow: auto;
  }

  .field {
    display: grid;
    gap: 4px;
  }

  .rows {
    display: grid;
    gap: 8px;
  }

  .settings-layout {
    display: grid;
    gap: 8px;
  }

  .tabbed-forms {
    &:has([value="openai"]:checked) {
      form:not([data-type="openai"]) {
        display: none;
      }
    }

    &:has([value="xai"]:checked) {
      form:not([data-type="xai"]) {
        display: none;
      }
    }

    &:has([value="aoai"]:checked) {
      form:not([data-type="aoai"]) {
        display: none;
      }
    }

    &:has([value="anthropic"]:checked) {
      form:not([data-type="anthropic"]) {
        display: none;
      }
    }

    &:has([value="google-gen-ai"]:checked) {
      form:not([data-type="google-gen-ai"]) {
        display: none;
      }
    }

    &:has([value="openrouter"]:checked) {
      form:not([data-type="openrouter"]) {
        display: none;
      }
    }
  }

  .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
  }
}
